body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 80px;
  margin-top: 80px;
  background-color: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border-radius: 8px;
  text-align: center;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
  color: #4a90e2;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
.portrait {
  width: 250px;
}
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #357ab7; /* Darker blue on hover */
}
